:root {
    --darkestGreen: #024104;
    --softerDarkGreen:#027806;
    /* Use this as the footer, maybe NavBar as well */
    --brightGreen: #c0f0c2;
    --veryGreen: #0BF913;
}

.placeholderColor::placeholder{
    color: var(--brightGreen);
}

#introTextYCenter{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#horizontalLine{
    border: 1px solid black; 

}

.veryGreenBg {
    background-color: var(--veryGreen);
}

.veryGreenTxt {
    color: var(--veryGreen);
}

.brighttGreenTxt{
    color: var(--brightGreen);
}
.darkestGreenBg{
    background-color: var(--darkestGreen);
}

.brighttGreenBg{
    background-color: var(--brightGreen);
}
section {
    scroll-margin-block: 4rem;
}
.logoMinHeight {
    min-height: 40px;
}

.logoMaxWidth {
    max-width: 91px;
}

.logoDivWidth {
    max-width: fit-content;
}

.ingridDarling {
    font-family: Ingrid Darling;
}

.balthazar {
    font-family: Balthazar;
}

.darkestGreenTxt {
    color: var(--darkestGreen);
}

.boxShadow {
    box-shadow: 10px 10px rgb(191, 194, 202);
}

.textCenter {
    text-align: center;
}

.projectsCard {
    height: 200px;
    width: 150px;
    background-color: var(--darkestGreen);
}


#form{
    margin-left: 35%;
}

.techSkillsMinWidth {
    min-width: 100px;
}

.softSkillsMinWidth {
    min-width: 230px;
}

.bold {
    font-weight: bolder;
}

.first-cards {
    width: 100%;
    height: 250px;
}

.first-cards img{
    width: 100%;
    height: 100%;
}

.secondCards {
    width: 100%;
    height: 150px;
}

.secondCards img{
    width: 100%;
    height: 100%;
}

#testimonialsCarousel{
    max-width: 400px;
    margin: 0 auto;
}

.carouselImg {
    max-height: 300px;
    align-items: center;
}

.landingPgWidth {
    min-width: 250px;
}

.introTxtWidth {
    min-width: 230px;
}


.navBarUl {
    margin-right: 20px;
}

#aboutPgBorder{
    border: 7px solid var(--softerDarkGreen); 
}

.contactIcons{
    height: 100px;
    width: 100px;
}

 #form div>* {
    width: 100%;
    margin-block: .5rem;
    /* margin-block is a shortcut for adding mt and mb together */
 }
 textarea{
    width: 100%;
 }

 .quickOverview {
    width: 265px;
 }



/* max-width */
@media screen and (width < 399px) {
 .landingPgPicWidth {
    min-width: 250px;
 }   
 .landingPgTxtWidth {
    min-width: 150px;
 }   
 .introTxtWidth{
    min-width: 130px;
 }

 #introTextYCenter{
    margin-top: 0%;
 }
}

