:root {
    --darkestGreen: #024104;
    --softerDarkGreen:#024104b1;
    /* Use this as the footer, maybe NavBar as well */
    --brightGreen: #c0f0c2;
    --veryGreen: #0BF913;
}

.veryGreenBg {
    background-color: var(--veryGreen);
}
.darkestGreenBg{
    background-color: var(--darkestGreen);
}

.brighttGreenBg{
    background-color: var(--brightGreen);
}

.logoMinHeight {
    min-height: 40px;
}

.logoMaxWidth {
    max-width: 91px;
}

.logoDivWidth {
    max-width: fit-content;
}

.ingridDarling {
    font-family: Ingrid Darling;
}

.balthazar {
    font-family: Balthazar;
}

.darkestGreenTxt {
    color: var(--brightGreen);
}

.boxShadow {
    box-shadow: 10px 10px rgb(191, 194, 202);
}

.textCenter {
    text-align: center;
}

.projectsCard {
    height: 200px;
    width: 150px;
    background-color: var(--darkestGreen);
}

.iconMinHeight {
    min-height: 80px;
}

.iconMaxWidth {
    max-width: 100px;
}

.iconMaxHeight {
    min-height: 80px;
}

#form{
    margin-left: 35%;
}

.techSkillsMinWidth {
    min-width: 100px;
}

.softSkillsMinWidth {
    min-width: 230px;
}

.bold {
    font-weight: bolder;
}

.card-img {
    max-width: 110px;
}

#testimonialsCarousel{
    max-width: 400px;
    margin: 0 auto;
}

.carouselImg {
    max-height: 300px;
}